<section class="table-section">
    <button id="get-button">Get movie List</button>
    <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Category</th>
            <th>
              <button (click)="getMovies(movies)" id="get-button"></button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let movie of movies" class="table-row"></tr>
            <th>{{ movie.title }}</th>
            <th>{{ movie.year }}</th>
            <th> {{movie.Category}} </th>
            <th>
              <button id="delete-button">Delete</button>
            </th>
        </tbody>
    </table>
</section>
